html, body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom right, 
  #222831, 
  #1b1f26, 
  #1e242e, 
  #1f2a33, 
  #232b37, 
  #2d3e4f, 
  #354a63, 
  #3a5472, 
  #4a657e, 
  #546f8a, 
  #5f7e9a, 
  #6887a4 
);
}